
<%= form_with(model: message, id: 'message-form') do |form| %>
  <%= form.text_field :content, :autocomplete => 'off' %>
  <%= form.hidden_field :room_id %>
  
  <div>
  <%= form.submit "Send" %>
  </div>
<% end %>