
<div class="message" id="<%= dom_id(message) %>">
  <strong><%= message.user.email_address %>:</strong> <%= message.content %>
  <%= button_to 'Delete', message, method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
</div>